{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publication_date</th>
                <th>Validated</th>
                <th>Country</th>
                <th>View</th>
                <th>Question</th>
                <th>Likes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.title }}</td>
                <td>{{ question.publicationDate ? question.publicationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ question.validated ? 'Yes' : 'No' }}</td>
                <td>{{ question.country }}</td>
                <td>{{ question.view }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.likes }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}">Create new</a>
{% endblock %}
